* { 
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body { 
    height: 100vh;
    display: flex;
    background-color: rgb(216, 191, 82);
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
}

.cabeçalho { 
    display: flex;/* filhoes um do lado do outro*/
    flex-direction: column; /* filhos em coluna*/
    gap: 18px;/* espaçamento entre os filhos*/
    align-items: center;
}

.cabeçalho img { 
    width: 500px; /* largura da imagem*/
    height: 500px;/* altura da imagem*/
    border-radius: 100%; /* arredondar as bordas*/
    border-color: rgb(90, 40, 207) 3px solid;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
}

.cabeçalho h1 { 
    font-size: 20px;
    font-family: "Inter", sans-serif;
}

.btns { 
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.btns a { 
    display: flex;
    justify-content: center;
    padding: 16px;
    border-radius: 58px;
    border-color: black 2px solid;
    box-shadow: black 5px 5px 0px ;
    width: 235px;
    background-color: #e8f0ec;
    color: black;
    text-decoration: none; /* tirar a decoração das tagas*/
}

.btns a:hover {
    background-color: #d0db34;
}